.row.content {height: 1500px}
.sidenav {
	background-color: #f1f1f1;
	height: 100%;
}


footer {
	background-color: #555;
	color: white;
	padding: 15px;
}
.info>td{
    background-color: burlywood !important;
}
.sucess>td{
    background-color: green!important;
}
@media screen and (max-width: 767px) {
	.sidenav {
		height: auto;
		padding: 15px;
	}
	.row.content {height: auto;} 
}
#section2{
	display: none;
}
.btn-primary{
	width: 100%;
}
.ping{
	font-family: fantasy;
	color:black;
	font-weight: bold;
}
.pong{
	font-family: fantasy;
	color:green;
	font-style: italic;
}
.ploc{
	font-family: fantasy;
	color:blue;
	 text-decoration: underline;
}