.box{
	border: none;
	border-bottom: 2px solid black;
	width: 220px;
}

input{
	margin-left:5px;
}

body{
	font-size: 20px;
	margin-left:65px;
	background-color:#BDBDBD;
}

.form{
	padding: 10px 100px 20px 20px;
	border-style: dotted;
	margin-right: 978px;
}

.solic{
	font-weight:bolder;
}
button{
    background-color:#1601FC;
    border: 4px solid black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    float: left;
	border-style: inset;
`}
button:hover {
    background-color: #0B0081;
}